doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Title - Mabinogi XYZ
    script (function(d) {var config = { kitId: 'aaq5fhf', scriptTimeout: 3000, async: true}, h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)})(document);
    link(rel="stylesheet", href="/assets/styles/common.css")
    link(rel="stylesheet", href="/assets/styles/secondtitle.css")
    script(src="/assets/scripts/cssbrowserselector.js")
    script(src="/assets/scripts/seokki-hangul-beta.js" defer)
  body
    header#header
      .inner
        a#mbngxyz Mabinogi XYZ
        a#logo
          img(src='/assets/images/private/logo.svg')
        button#menu-m
          img(src='/assets/images/private/menu-m.svg')
    #container
      section#content
        ul
          li.title
            img.img(src="/secondtitle/images/피아니시모.png")
            .name.tt 피아니시모
            .spec.tt 음악 버프 스킬 효과 7 증가
          li.title
            img.img(src="/secondtitle/images/피아니시모.png")
            .name.tt 피아니시모
            .spec.tt 음악 버프 스킬 효과 7 증가
          li.title
            img.img(src="/secondtitle/images/피아니시모.png")
            .name.tt 피아니시모
            .spec.tt 음악 버프 스킬 효과 7 증가